body{
	text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
	height:auto;
	margin:0 0 0 0;
	background-color:#E5E5E1;
}

h1{
	font-size:14px;
	font-family:sans-serif;
	line-height:8px;	
}

p{
	font-size:11px;
	font-family:serif;
	line-height:4px;
}

a{
	color:#C69C6D;
	text-decoration:none;
	font-weight:bold;
	text-align:center;
	display:block;
}

div{
	margin:auto auto;
}

div.fixed-box{
	width:100%;
	float:left;
	position:fixed;
	left:0;
	clear:both;
}

div.box{
	width:100%;
	float:left;
}

.box#content{
	margin-top:45px;
	margin-bottom:50px;	
	height:auto;
}

.fixed-box#footer{
	border-top: 1px solid black;
	background-color:#C69C6D;
	position:fixed;
	left:0;
	bottom:0;
	height:40px;
	z-index:2;
}

.box#top_bar{
	height:30px;
	background-color:#C69C6D;
	padding-bottom:3px;
	border-bottom: 1px solid black;
	z-index:2;
}


.top_block{
	float:left;
	width: 10%;
	height:30px;
}

.top_block#search{
	width:70%;	
}

.search_block{
	float:left;
	width:auto;
	margin-right: 4px;
}

.image_top{
margin-top:7px;
margin-left:7px;
display: block;  
max-width: 50px; 
max-height: 15px;
}

#img_search{
	margin-left:0px;
}

input, select{
margin-left:10px;
margin-top:4px;
border:2px solid grey;
border-radius:4px;
}

p.p_footer{
	font-size:7px;
	text-align:center;
	color:#FFFFFF;
}

.block{
	width: 20%;
	float:left;
	height:40px;
}

.img_footer{
	display:block;
	margin: auto auto;  
	max-width: 50px; 
	max-height: 15px;
	margin-top:5px;
}

.box#info_container{
	background-color:#FFFFFF;
	border-bottom: 1px solid black;
}

#kind_category{
	margin-bottom:10px;
}

#utente_research_button{
	margin-top:10px;
}

.hidden{
	display:none;
}

div#main_content{
	width:80%;
	height:auto;
	margin-left:10%;
	margin-top:0;
	padding-bottom:10px;
	border: 1px solid black;
	background-color:#EFEFEF;
	border-radius:20px 20px 20px 20px;
}

.titolo{
	font-size:16px;
	text-align:center;
	margin-top:0;
	border-bottom:1px solid black;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#C69C6D;
	border-radius:20px 20px 0px 0px;
}

#nome{
	margin-top:10px;
}

.info_box{
	display:block;
	float:left;
	clear:both;
	margin-top:10px;
	border:1px solid green;
}

.center_text{
	font-size:13px;
	text-align:center;
	margin-top:12px;
	margin-bottom:0;
}

input.event_input{
	display:inline;
	margin: 10px 0 0 0;
	border:2px solid grey;
	border-radius:4px;
}

select.event_input{
	display: inline;
	margin: 0 0 0 0;
	border:2px solid grey;
	border-radius:4px;
}

.address_box{
	display:block;
	width:246px;
}

textarea{
	border:2px solid grey;
	border-radius:4px;
	display:block;
	margin:10px auto;
	width:90%;
	height:200px;
	resize:none;
}




